* ::before,
* ::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: sans-serif;
}

.container{
    padding: 0px 25px;
}

/* Header */

#main-header {
    background-color: rgb(4, 206, 4);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
    
}

#main-header .container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#main-header .form-control{
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

#header-title{
    color: white;
    font-size: 40px;
}

/* Main Content */
#main {
    border: 1px solid rgb(180,180,180);
    padding: 20px;
    margin: 20px 0 0 0;
}

.title{
    margin: 20px 0px;
    font-size: 30px;
}

.title:first-child{
    margin-top: 0px;
}

input{
    height : 35px;
    border : 1px solid rgb(180,180,180);
}

.form-control{
    padding-left: 10px;
    font-size: large;
}

.btn{
    background-color: rgb(39,39,39);
    border-radius: 5px;
    color: white;
    width: 100px;
    cursor:pointer;
    font-size: medium;
}

#items {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
}

#items .btn{
    background-color: red;
    width: auto;
    height:auto;
    padding: 3px;
    margin: 5px;
    font-size: small;
}

.list-group-item{
    list-style-type: none;
    border-bottom: 1px solid rgb(180,180,180);
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}


.btn#btn{
    background-color: rgb(39,39,39);
    border-radius: 5px;
    color: white;
    width: 600px;
    font-size: 20px;
    padding: 3px;
    cursor:pointer;
}